@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

* {
    margin:0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jacques-Francois", sans-serif;
    font-weight: 400;
    color: #f9e7e9;
    background-color: #681e2a;
}

/* headings and logo */

h1, h2 {
    font-family: "Jacques-Francois-Shadow", sans-serif;
    text-transform:uppercase;
    letter-spacing: 2px;
    color:#f9e7e9
}

#logo {
    float:left;
    font-size:300%;
    padding-left: 40px;
    margin: 0 auto;
}

/*nav links*/

#navigation {
    font-size:100%;
    letter-spacing:2px;
}

#navigation, #logo {
    line-height: 75px;
}

#navigation li {
    float:right;
    list-style-type:none;
    margin-right: 40px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #e5db24;
    color: #e5db24;
}

/* home section */

#home {
    clear:both;
    height:600px;
    width:100%;
    background-color: #ffffff;
    color: #681e2a;
}
#home-welcome {
    float: left;
    height: 300px;
    width: 50%;
}

#home-welcome h2 {
    color:#681e2a;
    padding-top:20%;
    padding-left: 10%;
    font-size:200%;
}

#home-welcome p {
    padding-left: 10%;
    font-size:175%;
    padding-top:10px;
}

#home-vid {
    height:400px;
    width: 50%;
    float:right;
    padding-top:20px;
}

/* rectangular border around intro video*/

#video-container {
    height: 350px;
    width:600px;
    border:2px solid #e5db24;
    float:right;
    margin-top: 10%;
    margin-right: 10%;
}

#welcome-video {
    float:right;
    margin:17px 20px;
}

/* about me */

#about-me {
    height:600px;
    width:100%;
}

#about-me-right {
    float:right;
    height: 450px;
    width: 50%;
}

#about-me-right h2 {
    float:right;
    font-size:200%;
    padding-right: 10%;
}

#about-me-right > p {
    clear:both;
    float:right;
    padding-right: 10%;
    font-size:120%;
    padding-top:10px;
}

#photo {
    height:500px;
    width: 50%;
}

/* rectangular border around photo*/

#photo-container {
    height: 450px;
    width:600px;
    border:2px solid #e5db24;
    margin-top: 105px;
    margin-left: 10%;
}

#about-me-photo {
    margin:25px 32px;
    height:400px;
    width:536px;
}

/*episodes and books*/

#episodes-and-books {
    height:500px;
    width:100%;
    background-color: #ffffff;
    color: #681e2a;
    text-align: center;
    padding-top:115px;
}

#episodes {
    float: left;
    width: 33%;
}

#books {
    float: right;
    width: 33%;
}

#icon-center {
    width:33%;
    float:left; /* code help from https://www.geeksforgeeks.org/how-to-float-three-div-side-by-side-using-css/ */
}

#episodes-and-books h2 {
    clear:both;
    color:#681e2a;
    font-size:200%;
}

#episode-links {
    padding-top:10px;
    list-style-type: none;
    font-size: 150%;
    color: #681e2a;
}

#episode-links a {
    text-decoration: none;
    color:inherit;
}

#episode-links a:hover {
    border-bottom: 2px solid #681e2a;
}

#book-links {
    padding-top:10px;
    list-style-type: none;
    font-size: 150%;
    color: #681e2a;
}

#book-links a {
    text-decoration: none;
    color:inherit;
}

#book-links a:hover {
    border-bottom: 2px solid #681e2a;
}

/* square border around podcast icon*/

#icon-container {
    width:350px;
    height:350px;
    border: 2px solid #e5db24;
    margin: 0 auto;
}

#icon {
    background: url('../images/wwss-icon.jpg') no-repeat center center;
    height:100%;
}

/* footer */

footer {
    height:100px;
}

#email {
    float:left;
    padding-left:40px;
    padding-top:25px;
}

.socials {
    margin-left: 43%;
}

.socials li {
    display:inline;
}

.socials i {
    font-size: 200%;
    padding-top: 5px;
    margin: 25px;
    color:#f9e7e9;
}

.socials i:hover {
    color:#e5db24;
}

/* media queries */

/* for large to medium screens 1400px and down */
@media screen and (max-width: 1400px) {

    #navigation {
        float:left;
        padding-left:40px;
    }

    /* home and welcome vid section */

    #home {
        background-color: #ffffff;
        height:1000px;
        width:100%;
    }

    #home-welcome {
        height:50%;
        text-align: center;
        width:100%;
    }

    #home-welcome h2 {
        padding-left: 0;
        padding-top:10%;
    }

    #home-welcome p {
        width: 75%;
        padding-left: 12%;
    }

    #home-video {
        width: 100%;
    }

    #video-container {
        margin-top:0;
        margin-right:0;
    }

    #home-vid {
        float: none;
        height:50%;
        margin: 0 auto;
    }

    /* about me and photo section */

    #about-me {
        height:1400px;
        width:100%;
    }
    
    #about-me-right {
        float:none;
        height: fit-content;
        width:100%;
        margin: 5%;
        padding-top:5%;
        padding-left:7%;

    }

    #about-me-right > h2 {
        width: 100%;
        text-align: center;
    }

    #about-me-right p {
        width:75%;
        float:none;
        font-size: 150%;
        height: 50%;
        padding-top:10px;
    }

    #photo {
        float: none;
        height:40%;
        margin: 0 auto;
    }

    #photo-container {
        margin:5%;
    }

    /* episodes and books section */

    #episodes-and-books {
        height:1200px;
        width: 100%;
    }

    #episodes {
        float: none;
        width:100%;
    }

    #icon-center {
        float:none;
        margin: 7% auto;
    }

    #books {
        float:none;
        width: 100%;
    }

    /* contact section */

    #contact {
        text-align: center;
    }

    #email {
        margin-left:29%;
    }

    .socials {
        margin:0;
        text-align: left;
    }

}

/* for medium to small screens 1000px and below */

@media screen and (max-width: 1000px) {

    /* home section */

    #home-welcome {
        height: 45%;
    }

    #home {
        height: 800px;
    }

    #home-vid {
        width: 100%;
    }

    #video-container {
        margin-right: 10%;
    }

    /* about me section */

    #about-me {
        height: 1650px;
    }

    #photo {
        width:100%;
    }

    #photo-container {
        margin: 0 auto;
    }

    /* episodes and links section */

    #episodes-and-books {
        padding-top: 85px;
        height: 1100px;
    }

    #icon-center {
        width:100%;
    }

    /* footer */

    #email {
        margin-left: 12%;
    }

}

/* for small screens 700px and under */

@media screen and (max-width:700px) {

    /* header */

    #logo {
        font-size: 200%;
    }

    #navigation {
        margin:0;
        float: left;
        padding-left: 30px;
        font-size: 80%;
        letter-spacing: 0;
    }

    #navigation li {
        margin-right: 8px;
    }

    /* home */

    #home {
        height: 800px;
    }

    #home-welcome {
        font-size: 80%;
        margin-top: 15%;
        margin-bottom:30%;
    }

    /* code from https://css-tricks.com/fluid-width-video/ */

    #video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        width:100%; /* added by me */
        border: none; /* added by me */
    }

    #welcome-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 32px; /* added by me */
    }
    
    /* about me */

    #about-me {
        height: 1950px;
    }

    #about-me-right {
        font-size: 80%;
        margin-top:20%;
        margin-bottom:30%;
        text-align: center;
    }

    #photo-container {
        border:none;
    }

    #about-me-photo {
        margin:0;
        width:320px;
        height:239px;
    }

    /* episodes and books */

    #episodes-and-books {
        height: 1100px;
        font-size: 80%;
    }

    #icon-container {
        border:none;
    }

    #icon {
        margin-right: 30px;
    }

    #books {
        margin-top: 15%;
    }

    /* footer */

    #email {
        margin:0;
        padding-left:25px;
    }

    .socials {
        text-align: center;
    }
}